
.container{
    width: 440px;
    margin: 0 auto;
    padding-top: 40px;
    font-size: 0px;
}

.gridRow{
    height: 25px;
    width: 25px;
    background-color: blue;
    border: solid 1px black;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}


